/* Imports
-------------------------------------------------- */
// Fonts
//@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
//@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch');

//Local Google Fonts
/* cabin-sketch-regular - latin */
@font-face {
  font-family: 'Cabin Sketch';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Cabin_Sketch/cabin-sketch-v11-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Cabin Sketch Regular'), local('CabinSketch-Regular'),
       url('../fonts/Cabin_Sketch/cabin-sketch-v11-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Cabin_Sketch/cabin-sketch-v11-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Cabin_Sketch/cabin-sketch-v11-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Cabin_Sketch/cabin-sketch-v11-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Cabin_Sketch/cabin-sketch-v11-latin-regular.svg#CabinSketch') format('svg'); /* Legacy iOS */
}
/* cabin-sketch-700 - latin */
@font-face {
  font-family: 'Cabin Sketch';
  font-style: bold;
  font-weight: 700;
  src: url('../fonts/Cabin_Sketch/cabin-sketch-v11-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Cabin Sketch Bold'), local('CabinSketch-Bold'),
       url('../fonts/Cabin_Sketch/cabin-sketch-v11-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Cabin_Sketch/cabin-sketch-v11-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Cabin_Sketch/cabin-sketch-v11-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Cabin_Sketch/cabin-sketch-v11-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Cabin_Sketch/cabin-sketch-v11-latin-700.svg#CabinSketch') format('svg'); /* Legacy iOS */
}
/* raleway-regular - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Raleway/raleway-v12-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Raleway'), local('Raleway-Regular'),
       url('../fonts/Raleway/raleway-v12-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway/raleway-v12-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway/raleway-v12-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Raleway/raleway-v12-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Raleway/raleway-v12-latin-regular.svg#Raleway') format('svg'); /* Legacy iOS */
}
/* raleway-700 - latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Raleway/raleway-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold'), local('Raleway-Bold'),
       url('../fonts/Raleway/raleway-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway/raleway-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway/raleway-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Raleway/raleway-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Raleway/raleway-v12-latin-700.svg#Raleway') format('svg'); /* Legacy iOS */
}

/* raleway-700italic - latin */
@font-face {
  font-family: 'Raleway';
  font-style: italic;
  font-weight: 700;
  src: url('../fonts/Raleway/raleway-v12-latin-700italic.eot'); /* IE9 Compat Modes */
  src: local('Raleway Bold Italic'), local('Raleway-BoldItalic'),
       url('../fonts/Raleway/raleway-v12-latin-700italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Raleway/raleway-v12-latin-700italic.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Raleway/raleway-v12-latin-700italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/Raleway/raleway-v12-latin-700italic.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/Raleway/raleway-v12-latin-700italic.svg#Raleway') format('svg'); /* Legacy iOS */
}


// Variables
@import "variables";

//Bootstrap Customization
$theme-colors: (
  primary: #428bca
);

//$font-size-base: 1rem !default; // Assumes the browser default, typically `16px`
$font-size-base: 0.8rem; // Assumes the browser default, typically `16px`

//$spacer: 1rem !default;
$spacer: 0.8rem !default;


//Ende Bootstrap Customization

//Bootstrap
@import "node_modules/bootstrap/scss/bootstrap";

//Fontawsome
@import "resources/assets/sass/fontawesome_scss/fontawesome.scss";
@import "resources/assets/sass/fontawesome_scss/solid.scss";
@import "resources/assets/sass/fontawesome_scss/regular.scss";
@import "resources/assets/sass/fontawesome_scss/brands.scss";

$font-primary: 'Raleway', Arial, sans-serif;
$font-secondary: 'Cabin Sketch', sans-serif;

$brand-blue: #03c4eb !default;
$brand-red: #ff3333 !default;
$brand-yellow: #ffff00 !default;

$brand-white: #fff;
$brand-black: #000;
$brand-gray: #ccc;
$brand-body-color: #e8e8e8;
$brand-bg-color: $brand-white;

$input-border-focus:  $brand-primary !default;
$form-group-margin-bottom:       30px !default;

/* Mixins */

@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition:         all $transition ease;
    transition:         all $transition ease;
}
@mixin inline-block() {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}
@mixin flex() {
    display: -webkit-box;      
      display: -moz-box;         
      display: -ms-flexbox;      
      display: -webkit-flex;     
      display: flex;             
}
@mixin flexwrap() {
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; 
    -moz-flex-wrap: wrap; 
}

@mixin hyphens() {
	-moz-hyphens: auto;
   -o-hyphens: auto;
   -webkit-hyphens: auto;
   -ms-hyphens: auto;
   hyphens: auto;
}
    

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

/*Radio Inputs as font-awesome inputs*/

input[type=search] {
  font-family: 'Font Awesome 5 Free',sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 12px;
}

input[type=radio].with-font {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
    
input[type=radio].with-font + label:before {
    font-family: FontAwesome;
    display: inline-block;
    content: "\f0c8";
    letter-spacing: 10px;
    font-size: 1.2em;
    color: #535353;
}
input[type=radio].with-font:checked + label:before {
    content: "\f14a";
    font-size: 1.2em;
    color: darkgreen;
    letter-spacing: 5px;
    width: 35px, 5px;
}
input[type=radio].with-font:focus + label:before {
    font-weight: bold;
    color:orange;
}

body {
  min-height: 75rem;
  padding-top: 3rem;
	padding-bottom: 3rem;
	color: #5a5a5a;
	font-family: $font-primary;
	font-weight: 400;
	font-size: 15px;
	line-height: 1.7;
	color: #828282;
	background: #fff;
}

.bg-teacher {
	background: $brand-blue;
}

.text-brand-blue {
	color: $brand-blue;
}

.text-brand-yellow {
	color: $brand-yellow;
}

.text-brand-red {
	color: $brand-red;
}

.btn-yellow {
	background-color: $brand-yellow;
}

.btn-red {
	background-color: $brand-red;
}

.btn-blue {
	background-color: $brand-blue;
}


#page {
    position: relative;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    @include transition(.5s);
    .offcanvas & {
        overflow: hidden;    
        position: absolute;
        
        &:after {
            @include transition(2s);
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 101;
            background: rgba(0,0,0,.7);
            content: "";
        }
    }
}


h3, h4, h5, h6, figure {
    font-family: $font-secondary;
    font-weight: 400;
    margin: 0 0 20px 0;
    @include hyphens();
}

h1, h2 {
    font-family: $font-secondary;
    font-weight: 700;
    margin: 0 0 20px 0;
    @include hyphens();
}


.breadcrumb {
	background-color: $brand-white;
	font-size: 0.6rem;
}

.post_body {
	font-family: $font-primary;
	font-size: 1.5rem;	
}

.contentplaceholder {
    display:inline-block;
    width:357px;
    height:200px;
    background-color: $brand-blue;
    }

//Reviews 


/* Navbar
-------------------------------------------------- */

#vischool_nav {
    @media only screen and (max-width: 600px) {
    .navbar-brand {
		font-family: Cabin Sketch;
		font-size: 7vw;
    font-weight: bold;
      }
    } 
    @media only screen and (min-width: 600.02px) {
    .navbar-brand {
		font-family: Cabin Sketch;
		font-size: 30px;
		font-weight: bold;
		}
    }
    
    

    #userLoggedButton::after {
        outline: none !important;
        box-shadow: none;
        border-width: 0;
        box-sizing: content-box;
    }

    ul.nav a:hover a:focus a:active {
      color: black  !important;
    }
}



/* Page Header
-------------------------------------------------- */
#page-header {
	background: $brand-body-color;
	@include transition(1s);
	h1, h2, h3, h4, h5, h6, figure {
    font-family: $font-secondary;
    font-weight: bold;
    margin: 0 0 0px 0;
    text-transform: uppercase;
    hyphens: auto;
    }
}

/* Font for Posts Body
-------------------------------------------------- */



/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-bottom: 0rem;
}


/* Since positioning the image, we need to help out the caption */
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}


/* Declare heights because of positioning of img element */
.carousel-item {
  height: 20rem;
  background-color: #777;
}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 20rem;
}
#myCarousel {
	@include transition(1s);
	h1, h2, h3, h4, h5, h6, figure {
    color: $brand-white;
    font-family: $font-secondary;
    font-weight: 300;
    margin: 0 0 20px 0;
    text-transform: uppercase;
	}
	p {
	font-size: 18px;
    }
}

/* SUBJECTS 
-------------------------------------------------- */

#vischool-subjects {
	h2 {
		text-transform: uppercase;
		font-weight: bold;
	}
	h4,h5 {
    font-family: $font-primary;
    font-size:1rem;
		color: $brand-black;
	}
	background: $brand-body-color;
}

.topics {

	.notify-badge {
    position: absolute;
  	right:-20px;
    top:10px;
    text-align:center;
    border-radius: 8px 8px 8px 8px;
    color:$brand-white;
    padding:2px 5px;
    font-size:12px;
}
 	.content-badge {
    position: absolute;
    bottom:20px;
    text-align:center;
    border-radius: 2px 2px 2px 2px;
    color:$brand-white;
    padding:5px 2px;
    font-size:14px;
}
 
}

/* About
------------------------- */
#vischool-about {
	h2 {
		text-transform: uppercase;
		padding-top: 20px;
		font-weight: bold;	
	}
	h4,h5 {
		font-family: $font-primary;
		color: $brand-black;     
	}
	img {
		min-width: 50px;
		min-height: 50px;
		max-width: 100%;
		height: auto;
		width: 100px;

	}
}


/* Team
------------------------- */
#vischool-team {
	h2 {
		text-transform: uppercase;
		font-weight: bold;	
	}
	h4,h5 {
		font-family: $font-primary;
		color: $brand-black;     
	}
	img {
		max-width: 100%;
		max-height: 100%;
	}
	background: $brand-body-color;
}
/* ViSchool-Blog
------------------------- */

#vischool-blog {
	h2 {
		text-transform: uppercase;
		font-weight: bold;	

	}
	h4,h5 {
		font-family: $font-primary;
		color: $brand-black;     
	}
	padding-bottom: 20px;
}

/*FAQ
-------------------------------*/
#vischool_faq {
  .faq-nav {
    flex-direction: column;
    margin: 0 0 32px;
    border-radius: 2px;    
    border: 1px solid #ddd;
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    
    .nav-link {
        position: relative;
        display: block;
        margin: 0;
        padding: 13px 16px;
        background-color: #fff;
        border: 0;
        border-bottom: 1px solid #ddd;
        border-radius: 0;
        color: #616161;
        transition: background-color .2s ease;
        
        &:hover {
            background-color: #f6f6f6;
        }
        
        &.active {
            background-color: #f6f6f6;
            font-weight: 700;
            color: rgba(0,0,0,.87);        
        }
        
        &:last-of-type {
            border-bottom-left-radius: 2px;
            border-bottom-right-radius: 2px;
            border-bottom: 0;
        }
        
        i.mdi {
            margin-right: 5px;
            font-size: 18px;
            position: relative;
        }
    }
}

// TAB CONTENT
.tab-content {
    box-shadow: 0 1px 5px rgba(85, 85, 85, 0.15);
    
    .card {
        border-radius: 0;
    }
    
    .card-header {
        padding: 15px 16px;
        border-radius: 0;
        background-color: #f6f6f6;
        
        h5 {
            margin: 0;
            
            button {
                display: block;
                width: 100%;
                padding: 0;
                border: 0;
                font-weight: 700;
                color: rgba(0,0,0,.87);
                text-align: left;
                white-space: normal;
                
                &:hover,
                &:focus,
                &:active,
                &:hover:active {
                    text-decoration: none;
                }
            }
        }
    }
    
    .card-body {
        p {
            color: #616161;
            
            &:last-of-type {
                margin: 0;
            }
        }
    }
}


// BORDER FIX
.accordion {
    > .card {
        &:not(:first-child) {
            border-top: 0;
        }   
    }
}

.collapse.show {
    .card-body {
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
}
}



/* ViSchool-Footer
------------------------- */
#vischool-footer {
	background: $brand-gray;
}

#socialcontacts {
    background: white;
}

/* RESPONSIVE CSS
-------------------------------------------------- */

@media (min-width: 40em) {
  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: 1.25rem;
    line-height: 1.4;
  }
}

/* Icon for Accordions to open and close
------------------------------------------------------- */

[data-toggle="collapse"] .fa:before {
	content: "\f146";
}
[data-toggle="collapse"].collapsed .fa:before {
	content: "\f0fe";
}

/* Rating
-------------------------------------------------------*/ 
.rating {
	/* position: absolute;
	top: 50%;
	left: 50%;*/
	transform: rotateY(180deg);
	display: flex; 
}

.rating input {
	display: none;
}

.rating label {
	display: block;
	cursor: pointer;
	width: 1.5em;
/* 	background: #ccc; */
}
// empty star
.rating label:before {
	content: '\f005';
	font-family: 'Font Awesome 5 Free';
	font-weight: 200;
	position: relative;
	display: block;
	font-size: 1.2em;
	color: #ccc;
}

// filled star
.rating label:after {
	content: '\f005';
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	position: absolute;
	display: block;
	font-size: 1.2em;
	color: #ffcc00;
	top: 0;
	opacity: 0;
	transition: .2s;
	text-shadow: 0 .05em .1em rgba(230, 230, 0, 1);
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after {
	opacity: 1;
}

/* Filter
-------------------------------------------------------*/ 

#filter_sidebar {
    min-width: 180px;
    max-width: 180px;
    min-height: 100vh;
    z-index: 9999;
    transition: all 0.3s;
    background-color: lightgrey;
}

#filter_sidebar.active {
    margin-left: -180px;
}

#filter_sidebar ul.components {
    padding: 20px 0;
}

#filter_sidebar ul p {
    padding: 10px;
}

#filter_sidebar ul li {
    padding: 10px;
    font-size: 0.9em;
}


@media (max-width: 720px) {
    #filter_sidebar {
        margin-left: -180px;
    }
    #filter_sidebar.active {
        margin-left: 0;
    }
}


